<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransactionAnimDemo"
        tools:targetApi="31">
        <activity
            android:name=".SceneDemoFourActivity"
            android:exported="false" />
        <activity
            android:name=".SceneDemoThreeActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionTwoActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionOneActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeAnimationOneActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeAnimationTwoActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeAnimationThreeActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeAnimationFourActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeAnimationFiveActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TransactionAnimDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SceneDemoOneActivity"
            android:exported="false" />
        <activity
            android:name=".SceneDemoTwoActivity"
            android:exported="false" />
    </application>

</manifest>